.userList {
  flex: 4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.userListTable {
  width: 100%;
  border-spacing: 10px;
  justify-content: center;
  margin: 20px;
}
.userListTH {
  text-align: left;
}
.userListRow {
  height: 40px;
}
.userListRow:hover {
  cursor: pointer;
}
.userListEdit {
  border-radius: 5px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 15px;
}
.recycle {
  margin-left: 15px;
  width: 20px;
  color: red;
  cursor: pointer;
}
