.users {
  flex: 4;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userButton {
  width: 80px;
  cursor: pointer;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.userContainer {
  display: flex;
  margin-top: 20px;
}
.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px #706c6c;
  box-shadow: 0px 0px 15px -10px #6e6b6b;
}
.userUpdate {
  flex: 4;
  -webkit-box-shadow: 0px 0px 15px -10px #706c6c;
  box-shadow: 0px 0px 15px -10px #6e6b6b;
  margin-left: 20px;
}
.userShowTop {
  display: flex;
  align-items: center;
}
.userShowImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.userShowUsername {
  font-weight: 600;
}
.userShowUserTitle {
  font-weight: 300;
}
.userShowBottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.userShowInfo {
  margin-top: 15px;
}
.userShowInfo {
  display: flex;
}
.userShowID {
  margin-left: 10px;
}
.userUpdateLeft {
  margin-left: 20px;
}
.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
}
.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}
.userUpdateItem > input {
  border: none;
  width: 250px;
  border-bottom: 1px solid grey;
  height: 30px;
}
.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.userUpdateRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 40px;
}
.userUpdateUpload {
  display: flex;
  align-items: center;
}
.userUpdateIcon {
  cursor: pointer;
}
.userUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  font-weight: 600;
  color: white;
}
#file {
  display: none;
}
